/*
    scss 颜色变量
    定义项目中常用到的颜色值，变量名称尽量语义化
*/

// 背景灰
$bg_grey: #E7E8EB;
$blue: #58B7FF;
$weixin_green: #44B549;
$jd_red: #C60C1B;

// 文字颜色
$font_normal: #333;
$font_light: #555;
$font_lightest: #888;
